---
import { labsTemplates } from "~/content";
import type { UserInfo } from "~/utils/graphql";
import { getTeams } from "~/utils/graphql";
import StudentLabs from "./StudentLabs.astro";

export interface Props {
  studentInfo: UserInfo;
}

const { studentInfo } = Astro.props;
const [studentTeam] = await getTeams(studentInfo);

export type StudentLab = {
  url: string;
  name: string;
  templateKey: string;
};

const studentLabs: StudentLab[] = (studentTeam?.repositories
  .map(({ url, templateRepository }) => {
    const lab = labsTemplates.find(
      ({ templateKey }) => templateRepository === templateKey
    );
    if (lab == undefined) return;

    return { ...lab, url };
  })
  .filter((value) => value != undefined) ?? []) as StudentLab[];
---

<li
  class="mb-4 block md:mb-7 rounded-xl border-solid border-2 border-primary dark:border-dark-primary bg-secondary/10 dark:bg-dark-secondary/10 shadow shadow-primary dark:shadow-dark-primary"
>
  <details class="group/card">
    <summary
      class="text-base font-semibold py-1.5 px-8 md:py-1 md:px-4 list-none marker:hidden cursor-pointer"
    >
      <h2 class="m-0 p-0 text-xl">
        {studentInfo.name ?? studentInfo.login}
        <svg
          class="rotate-0 transition-transform align-middle group-open/card:rotate-90 rtl:rotate-180 m-0 inline"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 1 16 16"
          width="16"
          height="16"
          aria-hidden="true"
        >
          <path
            class="fill-current"
            fill-rule="evenodd"
            d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z"
          ></path>
        </svg>
      </h2>
    </summary>
    <ul class="list-none px-8 pb-4 pt-2">
      <li class="">
        <img src={studentInfo.avatarUrl} alt="" />
      </li>
      <li class="text-lg">
        Team
        <a class="font-bold" href={studentTeam?.url} target="_blank">
          {studentTeam?.name}
        </a>
      </li>
      <li class="text-lg">
        <a class="font-bold" href={studentTeam?.repositoriesUrl} target="_blank"
          >Repositories</a
        >
      </li>
      <li class="text-lg">
        <a
          class="font-bold"
          href={`https://github.com/notifications?query=author%3A${studentInfo.login}`}
          target="_blank">Notifications</a
        >
        from {studentInfo.name}
      </li>
      <li class="text-lg">
        <a class="font-bold" href={studentInfo.url} target="_blank"
          >{studentInfo.name} ({studentInfo.login})</a
        >
        at GitHub
      </li>
      <StudentLabs studentLabs={studentLabs} />
    </ul>
  </details>
</li>
