---
import type { CollectionEntry } from "astro:content";
import type { TabType } from "~/i18n/translation-checkers";
import {
  getLangFromSlug,
  removeLeadingSlash,
  removeTrailingSlash,
} from "~/util";
import { isSubPage } from "~/util/isSubPage";

export interface Props {
  type: TabType;
  defaultActiveTab: TabType;
  sidebarSections: {
    text: string;
    type: TabType;
    children: { text: string; slug: string; isFallback?: boolean }[];
  }[];
  currentPageMatch: string;
}

const { type, defaultActiveTab, sidebarSections, currentPageMatch } =
  Astro.props;
const slug = removeLeadingSlash(removeTrailingSlash(Astro.url.pathname));
const lang = getLangFromSlug(slug as CollectionEntry<"docs">["slug"]);
---

{
  sidebarSections.map((section) => (
    <li
      class={`mb-4 md:hidden md:mb-7 ${defaultActiveTab === type && "!block"}`}
    >
      <details class="group" open>
        <summary class="text-base font-semibold py-1.5 px-8 md:py-1 md:px-4 list-none marker:hidden cursor-pointer">
          <h2 class="m-0 p-0">
            {section.text}
            <svg
              class="rotate-0 transition-transform align-middle group-open:rotate-90 rtl:rotate-180 m-0 inline"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 1 16 16"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                class="fill-current"
                fill-rule="evenodd"
                d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z"
              />
            </svg>
          </h2>
        </summary>
        <ul>
          {section.children.map(({ slug, text, isFallback }) => (
            <li>
              <a
                class="m-0.5 py-1.5 px-8 md:py-1 md:px-4 text-[color:var(--theme-text-lighter)] no-underline block hover:bg-[color:var(--theme-bg-hover)] focus:bg-[color:var(--theme-bg-hover)] focus:outline focus:outline-2 aria-[current=page]:text-[color:var(--theme-text)] data-[current-parent=true]:text-[color:var(--theme-text)] aria-[current=page]:bg-[color:var(--theme-bg-accent)] data-[current-parent=true]:bg-[color:var(--theme-bg-accent)] aria-[current=page]:font-medium data-[current-parent=true]:font-medium aria-[current=page]:outline-1 data-[current-parent=true]:outline-1 aria-[current=page]:outline data-[current-parent=true]:outline aria-[current=page]:outline-transparent data-[current-parent=true]:outline-transparent aria-[current=page]:focus:outline-2 data-[current-parent=true]:focus:outline-2 aria-[current=page]:focus:outline data-[current-parent=true]:focus:outline dark:aria-[current=page]:text-[hsla(var(--color-base-white),100%,1)] dark:data-[current-parent=true]:text-[hsla(var(--color-base-white),100%,1)]"
                href={`${Astro.site?.pathname}${lang}/${slug}/`}
                aria-current={`${
                  currentPageMatch.endsWith(slug) ? "page" : "false"
                }`}
                data-current-parent={`${
                  isSubPage(currentPageMatch, slug) ? "true" : "false"
                }`}
              >
                <Fragment set:html={text} />
                {isFallback && (
                  <sup class="text-xs font-bold text-[color:var(--theme-text-light)]">
                    EN
                  </sup>
                )}
              </a>
            </li>
          ))}
        </ul>
      </details>
    </li>
  ))
}
