---
import type { CollectionEntry } from "astro:content";
import Footer from "~/components/Footer/Footer.astro";
import HeadCommon from "~/components/HeadCommon.astro";
import Header from "~/components/Header/Header.astro";
import MainColumn from "~/components/MainColumn.astro";
import {
  LeftSidebar,
  SidebarToggleTabGroup,
  ThemeToggleButton,
  getNavigation,
  resetNavigation,
  kebabCaseToTitleCase,
} from "adastra-ui";
import PageContent from "~/components/PageContent.astro";

import "./base.css";

const navigation = await getNavigation();

export interface Props {
  data: CollectionEntry<"docs">["data"];
}

const { data } = Astro.props;
const url = Astro.url;
const currentPage = url.pathname;
const formatTitle = (data: { title?: string }) =>
  data.title ? `${data.title} 🚀s AdAstra` : "AdAstra";
---

<!DOCTYPE html>
<html dir="ltr" class="group">
  <head>
    <HeadCommon />
    <title set:html={formatTitle(data)} />
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      )
        document.documentElement.classList.add("dark");
    </script>
  </head>
  <body
    class="before:bg-gradient-to-b from-bg-from to-bg-to dark:from-dark-bg-from dark:to-dark-bg-to before:content-[''] before:block before:fixed before:inset-0 before:-z-[999] text-text dark:text-dark-text flex flex-col min-h-screen font-sans text-base leading-6 max-md:group-sidebar:overflow-hidden"
  >
    <Header />
    <main class="min-h-screen">
      <aside
        class="fixed inset-y-0 p-0 hidden z-10 start-0 max-md:group-sidebar:block max-md:group-sidebar:top-navbar-height max-md:group-sidebar:end-0 md:flex md:ps-min-md md:pe-4 md:top-navbar-height md:w-sidebar-width group-sidebar:!block group-sidebar:top-navbar-height ltr:group-sidebar:right-0 rtl:group-sidebar:left-0"
      >
        <slot name="primary-sidebar">
          <LeftSidebar navigation={navigation} currentPage={currentPage}>
            <SidebarToggleTabGroup
              slot="tab-toggle"
              client:idle
              defaultTab={kebabCaseToTitleCase(currentPage.split("/")[1])}
              tabs={navigation.map((tab) => tab.type)}
              class="max-md:!hidden"
            />
            <ThemeToggleButton slot="theme-toggle" client:idle />
          </LeftSidebar>
        </slot>
      </aside>
      <aside
        class="fixed inset-y-0 p-0 hidden top-navbar-height ltr:right-0 rtl:left-0 w-right-sidebar-width lg:flex"
      >
        <slot name="secondary-sidebar" />
      </aside>
      <MainColumn class="flex flex-col h-full min-w-0">
        <PageContent content={data}>
          <slot />
        </PageContent>
      </MainColumn>
    </main>
    <MainColumn>
      <slot name="footer">
        <Footer />
      </slot>
    </MainColumn>
  </body>
</html>
